core/src/main/xsd/cdeye.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:element name="beans">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="bean" type="Bean" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="Bean">
        <xs:sequence>
            <xs:element name="className" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

</xs:schema>
